.ui.form.use-form .ui.button {
  margin-top: 1rem;
}

.ui.form.use-form {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  /* margin: -1rem; */
}

.ui.form.use-form .fields {
  flex-wrap: wrap;
}


.ui.form.use-form .fields > .form-group {
  flex-basis: 100%;
  margin-top: 1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.ui.form.use-form .form-group + .form-group {
  margin-top: 1.5em;
}

.ui.form.use-form.disabled .field.disabled>label,
.ui.form.use-form.disabled .fields.disabled>label {
  opacity: 1;
}

.ui.form.use-form.disabled .disabled.field,
.ui.form.use-form.disabled .disabled.fields .field,
.ui.form.use-form.disabled .field :disabled,
.ui.form.use-form.disabled .ui.disabled.input {
  opacity: 1;
  /* background-color: rgb(220,220,220); */
}

.ui.form.use-form.disabled .field select:disabled {
  background-color: transparent;
  border-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* text-indent: 1px;
  text-overflow: ''; */
}

.ui.form.use-form.disabled .field select:disabled,
.ui.form.use-form.disabled .ui.disabled.input {
  background-color: rgb(235,235,235);
  border-radius: .28571429rem;
}

/* .ui.form.use-form.disabled  {
  background-color: rgb(240,240,240);
} */

/* .ui.form.use-form.disabled .field {

} */

.ui.form.use-form.disabled input {
  border-color: transparent;
  background-color: transparent;
}

.ui.form [class*="equal width"].fields>.field,
.ui[class*="equal width"].form .fields>.field {
  width: unset;
}