.ui.form.use-form .ui.button {
  margin-top: 1rem;
}

.ui.form.use-form {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.ui.form.use-form .fields {
  flex-wrap: wrap;
}

.ui.form.use-form .fields > .form-group {
  flex-basis: 100%;
  margin-top: 1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.ui.form.use-form .form-group + .form-group {
  margin-top: 1.5em;
}

.ui.form.use-form .ui.dropdown {
  padding: 0.57857143em 1em;
  border: 1px solid rgba(34, 36, 38, .15);
  border-radius: .28571429rem;
  user-select: none;
}
.ui.form.use-form .ui.dropdown:focus{
  border-color: #85b7d9;
}

.ui.form.use-form.disabled .field.disabled>label,
.ui.form.use-form.disabled .fields.disabled>label {
  opacity: 1;
}

.ui.form.use-form.disabled .disabled.field,
.ui.form.use-form.disabled .disabled.fields .field,
.ui.form.use-form.disabled .field :disabled,
.ui.form.use-form.disabled .ui.disabled.input {
  opacity: 1;
}

.ui.form.use-form.disabled .required.field>label:after,
.ui.form.use-form.disabled .required.fields.grouped>label:after,
.ui.form.use-form.disabled .required.fields:not(.grouped)>.field>label:after {
  display: none;
}

.ui.form.use-form.disabled .field select:disabled {
  background-color: transparent;
  border-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.ui.form.use-form.disabled .field :disabled,
.ui.form.use-form.disabled .ui.disabled.input,
.ui.form.use-form.disabled .ui.disabled {
  background-color: rgb(245,245,245);
  border-color: rgb(230,230,230);
  border-radius: .28571429rem;
}

.ui.form.use-form.disabled input {
  border-color: transparent;
  background-color: transparent;
}

.ui.form [class*="equal width"].fields>.field,
.ui[class*="equal width"].form .fields>.field {
  width: unset;
}

.ui.form .field[class*="wide field"] {
  display: inline-block;
}
.ui.form .field[class*="wide field"]:not(:last-child) {
  padding-right: 1rem;
}

.ui.form.use-form textarea {
  font-family: Lato,
    'Helvetica Neue',
    Arial,
    Helvetica,
    sans-serif;
}

